@model New_Web_Project.Models.Login.User

@{
    ViewData["Title"] = "Create";
}

<h4>Sign up</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserMail" class="control-label"></label>
                <input asp-for="UserMail" class="form-control" />
                <span asp-validation-for="UserMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Anasayfa</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
